<div class="container">
  <header>
    <h1>Simple Regex</h1>
    <p>Ferramenta simples para iniciantes em Expressões Regulares.</p>
    <nav>
      <ul>
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/contato">Contato</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2024 Simple Regex. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>